@import '../index.scss';


.nav_list{
    display: flex;
    gap: 50px;
    color: $couleur-2;
    font-size: clamp(12px, 2.5vw, 24px);
    @media screen and (max-width: 700px){
        gap: 20px;
    }
    &_item{
        &_active{
            position: relative;
            color: $couleur-2;
            transition: all 0.2s ease-in-out;
            text-decoration: underline solid $couleur-2; 
            
        }
    }
}